<div class="info">
  <%= erb :layer_errors %> 


  <div class = "pageheader">
    <span class = "layeredit">New Layer:</span>
  </div>
  
  <form id='cl' name="input" action="/layer/create" method="post">

    <div class="code">
      <h4>Name</h4>
      <% if @prefix %>
        <div ><span class='flex'><%= @prefix %>&nbsp;.&nbsp;</span><span class='flexinput'><input class='layer' type="text" size="100" name="name", value="<%= @layer.name %>"/></span></div>
      <% else %>
        <div><input class='layer' type="text" size="100" name="name", value="<%= @layer.name %>"/></div>
      <% end %>
    </div>
    
    <div class="code">
      <h4>Organization</h4>
      <div><input class='layer' type="text" size="100" name="organization", value="<%= @layer.organization %>"/></div>
    </div>

    <div class="code">
      <h4>Category</h4>
      <div ><span class='flex'><%= @categories %>&nbsp;.&nbsp;</span><span class='flexinput'><input class='layer' type="text" size="100" name="category", value="<%= @layer.category %>"/></span></div>
    </div>
    
    <div class="code">
      <h4>Description</h4>
      <textarea name="description"><%= @layer.description %></textarea>
    </div>
    <div class="code">
      <h4>Datasources</h4>
      <% @layer.data_sources.each_with_index do |s,i| %>
        <div><input class='layer' type="text" size="100" name="data_sources[<%= i %>]", value="<%= @layer.data_sources[i] %>"/></div>
      <% end %>
      <div><input class='layer' type="text" size="100" name="data_sources_x", value=""/></div>
    </div>
    <input type="hidden" name="prefixc" value="<%= @prefix %>" />
    <input class='submitb' type="submit" value="create layer"/>
  </form>
</div>


<script type="text/javascript" charset="utf-8">

function submit_resp(responseText, statusText, xhr, $form) {
  $('#csvconfout').html(responseText)
}


$('#cl').submit(function() { 
    $(this).ajaxSubmit(); 
    return false; 
});
</script>
